<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>Dashboard Admin</h2>
  <a href="/logout">Logout</a>

  <h3>Generate Sertifikat</h3>

  <form method="post" action="/dashboard">
    <input type="text" name="name" placeholder="Nama Mahasiswa" required><br>
    <input type="text" name="nim" placeholder="NIM" required><br>
    <input type="text" name="program_studi" placeholder="Program Studi" required><br>
    <input type="text" name="institusi" placeholder="Institusi" required><br>
    <button type="submit">Generate Sertifikat</button>
  </form>

  {% if certificate %}
    <h3>Sertifikat Berhasil Dibuat</h3>
    <p>ID: {{ certificate.certificate_id }}</p>
    <p>Hash: {{ certificate.certificate_hash }}</p>
    <a href="/download-certificate/{{ certificate.certificate_id }}">
      Download PDF
    </a>
  {% endif %}
</body>
</html>
